<div class="jumbotron">
    <div><b>Portuguese Football Teams</b></div>
</div>
<div class="row">
    <span><img src="~/Images/aves.png" alt="Aves" width="150" height="150"/></span>
    <span><img src="~/Images/belenenses.png" alt="Belenenses"width="150" height="150"/></span>
    <span><img src="~/Images/benfica.png" alt="Benfica" width="150" height="150"/></span>
    <span><img src="~/Images/boavista.png" alt="Boavista" width="150" height="150"/></span>
    <span><img src="~/Images/braga.jpg" alt="Braga" width="150" height="150"/></span>
    <span><img src="~/Images/chaves.jpg" alt="Chaves" width="150" height="150"/></span>
    <span><img src="~/Images/feirense.png" alt="Feirense" width="150" height="150"/></span>
    <span><img src="~/Images/maritimo.jpg" alt="Maritimo" width="150" height="150"/></span>
    <span><img src="~/Images/moreirense.png" alt="Moreirense" width="150" height="150"/></span>
    <span><img src="~/Images/nacional.jpg" alt="Nacional" width="150" height="150"/></span>
    <span><img src="~/Images/portimonense.png" alt="Portimonense" width="150" height="150"/></span>
    <span><img src="~/Images/porto.jpg" alt="Porto" width="150" height="150"/></span>
    <span><img src="~/Images/rio_ave.jpg" alt="Rio Ave" width="150" height="150"/></span>
    <span><img src="~/Images/santa_clara.png" alt="Santa Clara" width="150" height="150"/></span>
    <span><img src="~/Images/sporting.png" alt="Sporting" width="150" height="150"/></span>
    <span><img src="~/Images/tondela.png" alt="Tondela" width="150" height="150"/></span>
    <span><img src="~/Images/vitoria_guimaraes.jpg" alt="Vitória Guimarães" width="150" height="150"/></span>
    <span><img src="~/Images/vitoria_setubal.jpg" alt="Vitória Setúbal" width="150" height="150"/></span>
</div>
